<!DOCTYPE html>
<!--
 Copyright 2025 The ChromiumOS Authors
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Set the base URL. -->
    <base href="%EXTENSION_ROOT_URL%/dist/views/" />

    <title>ChromiumIDE VNC Client</title>
    <link rel="stylesheet" href="vnc.css" />
  </head>
  <body>
    <div id="loading"><div class="spinner"></div></div>
    <div id="main" data-web-socket-proxy-url="%WEB_SOCKET_PROXY_URL%"></div>
    <script src="vnc.js"></script>
  </body>
</html>
